<h1><%= @manga['attributes']['title']['en'] %></h1>
<p><%= @manga['attributes']['description']['en'] %></p>

<h2>Chapters</h2>
<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= chapter['attributes']['title'] %> 
      <% if chapter['attributes']['volume'].present? %>
        - Volume: <%= chapter['attributes']['volume'] %>
      <% end %>
    </li>
  <% end %>
</ul>
